<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Security Detection System</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">

    <!-- Typekit Font -->
    <link rel="stylesheet" href="https://use.typekit.net/esf5tbh.css">

    <!-- jquery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_new.css') }}">

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>

<body class="bg-gray-50">
<img src="{{ url_for('static', filename='images/cyber-security.png') }}" class="absolute bottom-0 opacity-40 right-0"  alt="">
<div class="relative">
<!-- Header Start Here -->
<header class="bg-white border-b">
    <div class="container mx-auto px-8">
        <div class="flex items-center justify-between py-2">
            <div class="flex gap-5 items-center">
                <img src="{{ url_for('static', filename='images/facial-recognition-icon.png') }}" width="60" alt="">
                <div>
                    <div class="font-bold text-2xl">Security Detection System</div>
                    <div class="text-sm">Lambton College - Group 4 - Visionaries</div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header End Here -->


<div class="py-16">
    <div class="container mx-auto">
        <div class="bg-white max-w-2xl mx-auto rounded-sm shadow-sm">
            <h1 class="border-b font-bold px-6 py-4 text-lg flex gap-4">Add Person</h1>

            <div class="px-8 pt-5 pb-8 relative">
                <div class="mb-4">
                    <label for="name-of-person" class="block mb-2">Name</label>
                    <input type="text" id="name-of-person" name="name-of-person" placeholder="Enter Name" class="border focus:border-primary focus:outline-none px-4 py-3 rounded-sm w-full">
                </div>
                <div>
                    <div class="mb-3">Photo</div>
                    <div class="bg-gray-50 border border-gray-50/100 rounded-[3px]">
                        <div id="instructions">
                            <div id="capture-instructions">
                                <b>Note:</b> 8-10 images for a candidate are suffice. If you use spectacles, take images with and without them.
                                Click on the captured images for viewing them <i>(Delete option also provided)</i>.
                            </div>
                        </div>
                        <div class="bg-white m-2">
                            <div class="p-8 flex justify-center">
                                <button class="btn bg-blue-500" id="start-webcam">Start webcam</button>
                            </div>
                            <div class="aspect-w-16 aspect-h-9" id="video-div">
                                <video id="webcam-video" src=""></video>
                            </div>
                        </div>
                        <div class="p-4 bg-white" id="take-photo-div">
                            <button class="btn bg-pink-500" id="take-photo-button">Take Photo</button>
                        </div>
                        <canvas id="webcam-canvas" style="display: none"></canvas>
                    </div>

                    <div class="p-4 bg-gray-50 bg-opacity-50 rounded-[3px] mt-4" id="slider-div">
                        <div class="swiper-container mySwiper">
                            <div class="swiper-wrapper" id="photo-id"></div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
<!--                            <div class="swiper-pagination bg-white bg-opacity-75 rounded-full right-0 !w-[80px] mx-auto"></div>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="px-8 py-4 border-t flex justify-end" id="image-count-instruction">
                <button class="btn bg-blue-500" id="submit-all-images-button">Submit</button>
            </div>
        </div>
    </div>
</div>
</div>

<div id="image-modal-div">
    <span id="close-image-modal">&times;</span>
    <img id="image-modal-img"></img>
    <button id="delete-modal-image-button">Delete</button>
</div>

<div id="spinner-div">
    <div id="spinner">
    </div>
    <div id="spinner-text">
        Generating Features
    </div>
</div>

<div class="bg-white flex justify-center" style="padding: 20px;">
    Copyright ©️ Lambton College in Toronto | AIMT-F2020 | Visionaries ®️
</div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='js/add-person-logic.js') }}"></script>

</body>
</html>
