<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Google distributed JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Custom CSS for Layout -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <title>Face Recognition</title>
</head>
<body>
<div id="header">
    <h1>Security detection system</h1>
    <p>Lambton College - Group 4</p>
</div>

<div class="title-feature">
    <h2>Face Recognition</h2>
</div>

<video id="prediction-video-stream"></video>

<div id="video-prediction">
    <img id="prediction-result-image"></img>
</div>

<canvas id="webcam-canvas"></canvas>

<script>

    $(document).ready(function () {

        //var api_endpoint = "http://localhost:8888";
        var api_endpoint = "https://security-detection-api.herokuapp.com";

        var video_container = null;
        var canvas_container = null;
        var video_prediction = null;

        var width = 640;
        var height = 480;

        function startup() {
            video_prediction = document.getElementById("prediction-result-image");
            canvas_container = document.getElementById("webcam-canvas");
            video_container = document.getElementById("prediction-video-stream");
            navigator.mediaDevices.getUserMedia({'video': true})
                .then(stream => {
                    video_container.srcObject = stream;
                    video_container.play();
                    predict_each_frame();
                })
                .catch(error => {
                    console.log("Video Processing error", error);
                })
        }

        function get_image_data_url() {
            var context = canvas_container.getContext('2d');
            var data = ''
            if (width && height) {
                canvas_container.width = width;
                canvas_container.height = height;
                context.drawImage(video_container, 0, 0, width, height);
                data = canvas_container.toDataURL('image/png');
            }
            return data;
        }

        function predict_each_frame() {
            let data = get_image_data_url();
            setTimeout(() => {}, 3000);
            if (data !== '') {
                $.ajax({
                    //url: api_endpoint + '/persons/predictions',
                    url: '/persons/predictions',
                    type: 'post',
                    data: {
                        image: data,
                    },
                    success: function (data) {
                        predict_each_frame();
                        data = "data:image/png;base64," + data;
                        video_prediction.setAttribute('src', data);
                    },
                    error: function (data) {
                        alert("there is some error");
                    }
                });
            }
        }

        startup();

    });

</script>

</body>
</html>