<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Security Detection System</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">

    <!-- Typekit Font -->
    <link rel="stylesheet" href="https://use.typekit.net/esf5tbh.css">

    <!-- Main CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_new.css') }}">

</head>

<body class="bg-gray-50">
<img src="{{ url_for('static', filename='images/cyber-security.png') }}" class="absolute bottom-0 opacity-40 right-0"  alt="">
<div class="relative">
<!-- Header Start Here -->
<header class="bg-white border-b">
    <div class="container mx-auto px-8">
        <div class="flex items-center justify-between py-2">
            <div class="flex gap-5 items-center">
                <img src="{{ url_for('static', filename='images/facial-recognition-icon.png') }}" width="60" alt="">
                <div>
                    <div class="font-bold text-2xl">Security Detection System</div>
                    <div class="text-sm">Lambton College - Group 4 - Visionaries</div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header End Here -->


<div class="py-20">
    <div class="container mx-auto">
        <div class="bg-white max-w-2xl mx-auto rounded-sm shadow-sm">
            <h1 class="border-b font-bold px-6 py-4 text-lg flex gap-4">
                Security Feature</h1>
            <div class="p-8 relative">
                <div class="border border-gray-50/100 font-semibold grid grid-cols-2">
                    <a href="/faces" class="border-b border-gray-50/100 border-r flex flex-col gap-2 h-32 hover:bg-gray-100 items-center justify-center w-full">
                        <img src= "{{ url_for('static', filename='images/add-user.png') }}" width="40" alt="">
                        Add Person
                    </a>
                    <a href="/faces/recognition" class="border-b border-gray-50/100 flex flex-col gap-2 h-32 hover:bg-gray-100 items-center justify-center w-full">
                        <img src="{{ url_for('static', filename='images/user-images.png') }}" width="40" alt="">
                        Face Recognition
                    </a>
                    <a href="/movements" class="border-gray-50/100 border-r flex flex-col gap-2 h-32 hover:bg-gray-100 items-center justify-center w-full">
                        <img src="{{ url_for('static', filename='images/acceleration.png') }}" width="40" alt="">
                        Movement Detection
                    </a>
                    <a href="/faces/masks" class="flex hover:bg-gray-100 flex-col gap-2 h-32 items-center justify-center w-full">
                        <img src="{{ url_for('static', filename='images/face-mask.png') }}" width="40" alt="">
                        Face Mask Detection
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>
